<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
<display-name>Strategic HelloMoney</display-name>
		<!-- Spring context file location  -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/config/bmb-application-config.xml
			classpath:bmb-security-config.xml
			classpath:webecrime-config.xml
			</param-value>
			<!-- classpath:config/bmb-bank-security-config.xml -->
	</context-param>

<filter>
    <filter-name>USSDRequestFilter</filter-name>
    <filter-class>com.barclays.ussd.auth.filters.USSDRequestFilter</filter-class>
  </filter>


  <filter-mapping>
    <filter-name>USSDRequestFilter</filter-name>
    <url-pattern>/cellulant/*</url-pattern>
  </filter-mapping><!--

   <filter-mapping>
       <filter-name>USSDRequestFilter</filter-name>
		<url-pattern>/selcom/*</url-pattern>
  </filter-mapping>

   --><filter-mapping>
       <filter-name>USSDRequestFilter</filter-name>
		<url-pattern>/selcom</url-pattern>
  </filter-mapping>
   <filter-mapping>
        <filter-name>USSDRequestFilter</filter-name>
		<url-pattern>/trueafrican/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
        <filter-name>USSDRequestFilter</filter-name>
		<url-pattern>/etransact/*</url-pattern>
  </filter-mapping>

   <filter-mapping>
     <filter-name>USSDRequestFilter</filter-name>
		<url-pattern>/selfregistration/*</url-pattern>
  </filter-mapping>

   <filter-mapping>
    <filter-name>USSDRequestFilter</filter-name>
		<url-pattern>/selfreg/cellulant/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
   <filter-name>USSDRequestFilter</filter-name>
 		<url-pattern>/selfreg/selcom/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>USSDRequestFilter</filter-name>
		<url-pattern>/selfreg/trueafrican/*</url-pattern>
  </filter-mapping>






<!-- classpath:webecrime-config.xml -->

	<!-- Exception Guard Filter -->
	<!--<filter>
		<filter-name>exceptionGuardFilter</filter-name>
		<filter-class>com.barclays.bmg.mvc.filter.ExceptionGuardFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>exceptionGuardFilter</filter-name>
		<url-pattern>/dataserv</url-pattern>

	</filter-mapping>


	 --><!-- Enforce UTF-8 Character Encoding   -->
  	<!--<filter>
	<filter-name>charEncodingFilter</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
	<init-param>
		<param-name>forceEncoding</param-name>
		<param-value>true</param-value>
	</init-param>
	</filter>

	<filter-mapping>
    	<filter-name>charEncodingFilter</filter-name>
   		<url-pattern>/dataserv</url-pattern>
  	</filter-mapping>




	 --><!-- Release one Backword Compatibility -->
<!--	<filter>-->
<!--		<filter-name>checkReleaseOneURLFilter</filter-name>-->
<!--		<filter-class>com.barclays.bmg.mvc.filter.CheckReleaseOneURLFilter</filter-class>-->
<!--	</filter>-->
<!---->
<!--	<filter-mapping>-->
<!--		<filter-name>checkReleaseOneURLFilter</filter-name>-->
<!--		<url-pattern>/dataserv</url-pattern>-->
<!--	</filter-mapping>-->


	<!-- Enables Spring Security -->
	<!--<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>com.barclays.bmg.mvc.filter.BMBDelegatingFilterProxy</filter-class>
	</filter>


	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/dataserv</url-pattern>
	</filter-mapping>

	--><!-- Session validation filter -->

	<filter>
		<filter-name>BMBSessionValidationFilter</filter-name>
		<display-name>BMBSessionValidationFilter</display-name>
		<description></description>
		<filter-class>com.barclays.bmg.mvc.filter.BMBSessionValidationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>BMBSessionValidationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Ecrime Filter -->
	<!--<filter>
		<filter-name>ecrimeFacadeFilter</filter-name>
		<filter-class>com.barclays.bmg.ecrime.EcrimeProxyFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ecrimeFacadeFilter</filter-name>
		<url-pattern>/dataserv</url-pattern>
	</filter-mapping>

	 Release one Backword Compatibility
	<filter>
		<filter-name>releaseOneUrlMappingFilter</filter-name>
		<filter-class>com.barclays.bmg.mvc.filter.BMBUrlMappingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>releaseOneUrlMappingFilter</filter-name>
		<url-pattern>/dataserv</url-pattern>
	</filter-mapping>


	--><!-- esapi Secure filter

	<filter>
    <filter-name>esapiSecureFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
          <filter-name>esapiSecureFilter</filter-name>
          <url-pattern>/dataserv</url-pattern>
    </filter-mapping>
-->

     <!-- Session Binding Filter

   	<filter>
        <filter-name>sessionBindingCheckFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
   </filter>
   <filter-mapping>
        <filter-name>sessionBindingCheckFilter</filter-name>
        <url-pattern>/dataserv</url-pattern>
   </filter-mapping>

-->

	<!-- Release one Backword Compatibility -->

	<!-- Concurrent session listener -->
	<!--<listener>
		<listener-class>
			org.springframework.security.ui.session.HttpSessionEventPublisher</listener-class>
	</listener>

	--><!-- Loads the Spring web application cont -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Session listener -->
	<listener>
		<listener-class>com.barclays.bmg.mvc.listener.BMGSessionListener</listener-class>
	</listener>


	<!-- Spring front controller servlet
	<servlet>
		<servlet-name>bmb-json-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/config/bmb-json-webmvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
-->
<!--
	<servlet>
		<servlet-name>geocoding-data-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/config/bmg-geocoding-json-webmvc-config.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
-->
<!--
	<servlet-mapping>
		<servlet-name>bmb-json-servlet</servlet-name>
		<url-pattern>/dataserv</url-pattern>
	</servlet-mapping>
-->




<!-- Ussd starts here -->

<!-- DispatcherServlet -->
 	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/hellomoney/*</url-pattern>
  </servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/cellulant/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/etransact/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/selcom/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/trueafrican/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/selfregistration/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/selfreg/cellulant/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/selfreg/selcom/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/selfreg/trueafrican/*</url-pattern>
	</servlet-mapping>






	<resource-ref id="ResourceRef_1245894293439">
		<res-ref-name>jdbc/SHMDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>


</web-app>
